.slideshow {
  height: 400px;
  object-fit: cover;
}
.swiper-container {
  height: 400px;
}
@media (min-width: 576px) {
  .swiper-container {
    height: 450px;
  }
}
@media (min-width: 768px) {
  .swiper-container {
    height: 550px;
  }
}
@media (min-width: 992px) {
  .swiper-container {
    height: 650px;
  }
}
.swiper-img-wrapper {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-position: center center;
  background-repeat: no-repeat;
}
.swiper-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center center;
}
.swiper-slide {
  background-color: #fff;
}
div.zoomDiv {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  border: 1px solid #ddd;
  display: none;
  text-align: center;
  overflow: hidden;
  font-size: 0;
}
div.zoomMask {
  position: absolute;
  background: url(../images/mask.png) repeat;
  cursor: move;
  z-index: 1;
}
.navbar {
  padding-top: 10px;
  background-color: #fff;
}
.navbar .navbar-brand {
  font-size: 0;
}
.navbar img {
  vertical-align: middle;
}
.navbar .menu {
  margin: 10px auto;
}
.navbar .menu .nav-item {
  border-right: 1px solid #f3f1f1;
}
.navbar .menu .nav-item:last-child {
  border-right-width: 0;
}
.navbar .menu .nav-item a.nav-link {
  font-size: 14px;
  font-weight: 700;
}
.navbar .menu .nav-item a.nav-link:hover {
  color: #0eabf3;
}
.navbar .menu .active a.nav-link {
  color: #609ee9;
  text-decoration: underline;
}
.pager {
  padding: 20px 0;
}
.pager .page-item {
  min-width: 38px;
  text-align: center;
}
.footer,
.footer a {
  color: #666;
  background-color: #000;
}
.footer a:hover {
  color: #0eabf3;
}
.footer .contact-us {
  color: #aaa;
  font-size: 20px;
  margin: 20px auto;
}
.footer .contact {
  color: #666;
}
#home {
  background-color: #f3f3f3;
}
/* 幻灯片 */
#home .swiper-container {
  background-color: #fff;
}
/* 产品推荐 */
#home .product {
  background-color: #f8f9fa;
}
/* 关于我们 */
#home .about {
  background-color: #fff;
  padding: 40px 0;
}
/* 资质证书 */
#home .certifications {
  background-color: #f8f9fa;
  padding: 40px 0;
}
/* 展会 */
#home .exhibition {
  background-color: #fff;
  padding: 40px 0;
}
#home .certifications img.center-block {
  object-fit: contain;
  height: 200px;
}
@media (min-width: 1024px) {
  #home .certifications img.center-block {
    height: 794px;
  }
}
#home .title {
  margin: 40px auto;
}
#home .title h2 {
  color: #262626;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  position: relative;
}
#home .title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #0eabf3;
  margin: 5px auto 0;
  transition: background-color 0.3s ease;
}
#home .about-title::after {
  position: absolute;
  left: 190px;
}
#home .product .card {
  border-radius: 30px;
  border-color: #fff;
}
#home .product .card .card-title a {
  color: #666;
}
#home .product .card .card-title a:hover {
  color: #eb5e39;
  text-decoration: underline;
}
#home .product .card .card-img {
  width: 329px;
  height: 329px;
  margin: auto;
  padding-top: 25px;
  text-align: center;
  object-fit: contain;
  overflow: hidden;
}
#home .product .card-img img {
  text-align: center;
  object-fit: cover;
  transition:
    transform 0.5s ease,
    transform-origin 0.5s ease;
  cursor: pointer;
}
#home .product .card-img img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform-origin: center center;
}
#home a.more-btn {
  width: 160px;
  height: 40px;
  line-height: 40px;
  color: #0eabf3;
  border: 1px solid #0eabf3;
  font-size: 14px;
  border-radius: 0;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}
#home a.more-btn:hover {
  color: #fff;
  text-decoration: none;
  background-color: #0eabf3;
}
#home #marquee-box {
  width: 100%;
  overflow: hidden;
  border: 0 solid #ddd;
}
#home #marquee-con {
  width: 500%;
  float: left;
}
#home #marquee,
#home #marquee-1 {
  float: left;
}
.marquee-img {
  float: left;
}
#home .about {
}
#home .about .about-box {
  display: flex;
  margin-bottom: 25px;
  background-color: #fff;
}
#home .about .about-box .pic {
  background-color: transparent;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#home .about .about-box .pic img {
  width: 100%;
  max-width: 839px;
  height: auto;
  min-height: 200px;
}
#home .about .about-box .content {
  padding-left: 10px;
}
#home .about .about-box .content-box {
  max-width: 650px;
  min-height: 500px;
}
#home .about .about-box .content-box .content-text p {
  line-height: 150%;
}
#home .video-box {
  position: relative;
}
#home .video-box .video {
  position: absolute;
  left: 10px;
  top: 82px;
}
@media (min-width: 1024px) {
  #home .about .about-box .pic img {
    width: 100%;
    max-width: 839px;
    min-height: 500px;
  }
  #home .about .about-box .content {
    padding-left: 190px;
  }
  #home .about .about-box .content-box {
    width: 650px;
    min-height: 500px;
  }
  #home .about .about-box .content-box .content-text p {
    line-height: 150%;
  }
  #home .video-box {
    position: relative;
  }
  #home .video-box .video {
    position: absolute;
    left: 795px;
    top: 82px;
  }
}
#productlist {
  background-color: #f3f3f3;
}
#productlist .category {
}
#productlist .category a {
  font-size: 13px;
  height: 60px;
  line-height: 60px;
  border-radius: 0;
  color: #666;
  padding: 20px 25px;
}
#productlist .category a.btn-active {
  color: #fff;
  background-color: #0eabf3;
}
#productlist .product .card {
  border-width: 0;
  border: 1px solid #ebebeb;
  margin: 10px 0;
  background-color: #fff;
}
#productlist .product .card-text {
  color: #999;
}
#productlist .product div.card {
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
#productlist .product div.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 4px rgba(112, 112, 112, 0.3);
}
#productlist .product div.card .card-img {
  overflow: hidden;
  object-fit: contain;
}
#newslist {
}
#newslist .title {
  display: flex;
  align-items: center;
  margin: 30px 0 0;
}
#newslist .title .line {
  width: 4px;
  height: 28px;
  background-color: #0eabf3;
  margin-right: 10px;
}
#newslist .title h2 {
  color: #262626;
  font-size: 30px;
  font-weight: 700;
}
#newslist .divider {
  width: 100%;
  height: 2px;
  background-color: #eee;
  margin-top: 5px;
}
#newslist .news-list .media .media-body h5 {
  color: #404040;
}
#about {
}
#about .tab-head {
  border-bottom: 2px solid #0eabf3;
}
#about .tab-head ul {
  display: flex;
}
#about .tab-head ul li {
}
#about .tab-head ul li a {
  text-align: center;
  display: block;
  height: 50px;
  line-height: 50px;
  width: 200px;
  font-weight: 700;
}
#about .tab-head ul li a.active {
  color: #fff;
  background-color: #0eabf3;
}
#about .tab-body .performance {
  display: flex;
  margin-bottom: 40px;
}
#about .tab-body .performance div {
  text-align: center;
  font-size: 14px;
  color: #555;
}
#about .tab-body .performance div p:first-child {
  color: #0eabf3;
  font-size: 48px;
  font-weight: 700;
}
#about .tab-body .company p {
  line-height: 150%;
  margin-bottom: 5px;
}
#about .tab-body .gallery {
  margin-top: 30px;
}
#about .video-box {
  position: relative;
}
#about .video-box .video {
  position: absolute;
  left: 460px;
  top: 50px;
}
#about .video-box .pic {
  position: absolute;
  left: 1105px;
  top: 70px;
}
#contact {
}
#contact .title {
  margin: 30px auto;
}
#contact .title h2 {
  color: #262626;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  position: relative;
}
#contact .title::after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  background-color: #0eabf3;
  margin: 5px auto 0;
  transition: background-color 0.3s ease;
}
#contact .contact li {
  margin-bottom: 10px;
}
